# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# Xcode User Data
xcuserdata/
DerivedData/
*.xcuserstate

#Claude helper
TaskTap_ProjectPlan.md
Claude.md
